<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{'page.title'}"></title>
</head>
<body>
<a data-th-href="@{/products/create}">Create</a>
<h1 data-th-text="#{'page.products_list'}"></h1>
<form method="get" data-th-action="@{/products/list}">
    <label>Filter by title:<input type="text" name="filter" data-th-value="${filter}">
        <button type="submit">Search</button>
    </label>
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${products}">
        <td>
            <a data-th-href="@{/products/{id}(id=${product.id})}" data-th-text="${product.id}"></a>
        </td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.description}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>